In [1]:
# Numbers : Two type of numer formats. int and float. int represents whole numbers with sign. float represent decimal values.
# Strimgs : Ordered Sequence of characters. Supports indeximg. Immutable.
# Lists : Ordered sequece of collection of objects. Supports indexing and slicing. Mutable. Represented by []. Some of the methods are pop()
# Tuples : Imuutable list. Very limited methods. E.g calendar
# Dictionaries : Key value pair. Unordered as values are fetched by keys. Mutable. Some of the methods are keys(), values() which returns lists. Represented by {'key':'values'}. Keys is always a string
# set() : Unordered unique values.

In [11]:
5 * 21 / 2 + 7**2 - 1.25

100.25

In [14]:
105//2

52

In [15]:
# What is the value of the expression 4 * (6 + 5) = 44
# What is the value of the expression 4 * 6 + 5  = 29
# What is the value of the expression 4 + 6 * 5 = 34

In [22]:
a = 4 * (6 + 5)
b = 4 * 6 + 5
c = 4 + 6 * 5
print ('4 + 6 * 5 = {a1} & 4 * 6 + 5 = {b1} & 4 + 6 * 5 = {c1}'.format(a1=a, b1=b, c1=c))

4 + 6 * 5 = 44 & 4 * 6 + 5 = 29 & 4 + 6 * 5 = 34

In [23]:
# What is the type of the result of the expression 3 + 1.5 + 4? = float
type(3 + 1.5 + 4)

float

In [24]:
# Square: **
# Square root : **0.5

In [25]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

In [26]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

In [27]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [28]:
# Method 2:
s[4]

'o'

In [33]:
# Build this list [0,0,0] two separate ways.
l = [0,0,0]
print(l)
l1 = []
l1.append(0)
l1.append(0)
l1.append(0)
print(l1)

[0, 0, 0]
[0, 0, 0]

In [34]:
list3 =[1,2,[3,4,'hello']]
# Reassign 'hello' in this nested list to say 'goodbye' instead:
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [36]:
list4 = [5,3,4,6,1]
# Sort the list below
list4.sort()
list4

[1, 3, 4, 5, 6]

In [37]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [38]:

d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [46]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [52]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [53]:
# Can you sort a dictionary? Why or why not?
# No, because it unordered and uses key to return values

In [54]:
# What is the major difference between tuples and lists?
# Tuples are immutable while lists are
# How do you create a tuple?
t = (1,2,2,3)
type(t)

tuple

In [55]:
# What is unique about a set?
# Unique unordered collection of objects

#Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
s = set(list5)
s

{1, 2, 3, 4, 11, 22, 33}

In [56]:
# Answer before running cell
2 > 3
# False
3 <= 2
# True
3 == 2.0
# False
3.0 == 3
# True
4**0.5 != 2
# False

False

In [57]:

# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
3 >= 4
# False

False