In [2]:
morning = False

if morning:
    print('Good Morning')
else:
    print('Good Evening')

Good Evening

In [4]:
time = 'gibberish'

if time == 'Morning':
    print('Good Morning')
elif time == 'Afternonn':
    print("Godd Afternoon")
elif time == 'Evening':
    print('Good Evening')
else:
    print("What time is it!")

What time is it!

In [5]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    if num % 2 == 0:
        print(f'Number {num} is even')
    else:
        print(f'Number {num} is odd')

Number 1 is odd
Number 2 is even
Number 3 is odd
Number 4 is even
Number 5 is odd
Number 6 is even
Number 7 is odd
Number 8 is even
Number 9 is odd
Number 10 is even

In [7]:
list_sum = 0

for num_sum in mylist:
    num_sum = num_sum + num_sum
    
    print(num_sum)

2
4
6
8
10
12
14
16
18
20

In [8]:
for _ in 'Hello World':
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [9]:
# tuple unpacking
tup_list = [(1,2),(3,4),(5,6),(7,8),(9,10)]
len(tup_list)

5

In [10]:
for (a,b) in tup_list:
    print(b)
    print(a)

2
1
4
3
6
5
8
7
10
9

In [15]:
d = {'k1':1,'k2':2,'k3':3}

#for item in d:
#for item in d.items():
#for item in d.values():
#    print(item)
for k,v in d.items():
    print(k)

k1
k2
k3

In [17]:
x = 1

while x < 10:
    print (f'The current value of x is {x}')
    x *= 2
else:
    print('ELSE part')

The current value of x is 1
The current value of x is 2
The current value of x is 4
The current value of x is 8
ELSE part

In [18]:
# Does nothing at all

mystring ='letter'

for s in mystring:
    pass

print(mystring)

letter

In [19]:
# Goes to the top of the closest enclosing loop
for s in mystring:
    if s == 't':
        continue
    print(s)

l
e
e
r

In [21]:
# break out of the closest enclosing loop
for s in mystring:
    if s == 't':
        break
    print(s)

l
e

In [23]:
# range operator/generator
myrange = list(range(0,11,2))
myrange

[0, 2, 4, 6, 8, 10]

In [24]:
for num in range(5):
    print(f'In range of {num}')

In range of 0
In range of 1
In range of 2
In range of 3
In range of 4

In [27]:
# enumerate

myword ='abcde'
index_count = 0

for letter in myword:
    print('Letter at index {} is {}'.format(index_count,letter))
    index_count += 1

Letter at index 0 is a
Letter at index 1 is b
Letter at index 2 is c
Letter at index 3 is d
Letter at index 4 is e

In [29]:
for tup_map in enumerate(myword):
    print(tup_map)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [30]:
for index, value in enumerate(myword):
    print('From enumerate tuple list, vlaue at index {} is {}'.format(index,value))

From enumerate tuple list, vlaue at index 0 is a
From enumerate tuple list, vlaue at index 1 is b
From enumerate tuple list, vlaue at index 2 is c
From enumerate tuple list, vlaue at index 3 is d
From enumerate tuple list, vlaue at index 4 is e

In [32]:
# zip
mylist1 = [1,2,3,4,6,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for items in zip(mylist1,mylist2,mylist3):
    print (items)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [33]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [34]:
d = {'k1':345}
345 in d

False

In [35]:
'k1' in d

True

In [36]:
345 in d.values()

True

In [37]:
345 in d.items()

False

In [38]:
mylist = [10,20,30,100]
min(mylist)

10

In [39]:
max(mylist)

100

In [40]:
from random import shuffle
shuffle(mylist)

In [41]:
mylist

[20, 10, 100, 30]

In [43]:
from random import randint
randint(0,1000)

458

In [44]:
myresult = int(input("DOB"))

DOB240576

In [45]:
myresult

240576

In [48]:
# List comprehension
str1 = 'hello'

lst_str1 = []
for temp_str in str1:
    lst_str1.append(temp_str)
    
lst_str1

['h', 'e', 'l', 'l', 'o']

In [49]:
lst_str2 = [temp_str1 for temp_str1 in str1]

In [50]:
lst_str2

['h', 'e', 'l', 'l', 'o']

In [51]:
num_lst1 = [num for num in range(0,11)]
num_lst1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
num_lst2 = [num1**2 for num1 in range(0,6)]
num_lst2

[0, 1, 4, 9, 16, 25]

In [56]:
num_lst3 = [num2 for num2 in range(0,11) if num2%2==0]
num_lst3

[0, 2, 4, 6, 8, 10]

In [58]:
celsius = [17,26,38,47,51]

fahrenheit = [(9/5*cel_temp + 32) for cel_temp in celsius ]
fahrenheit

[62.6, 78.80000000000001, 100.4, 116.60000000000001, 123.8]

In [59]:
num_lst4 = [x if x%2==0 else 'ODD' for x in range(0,11)]
num_lst4

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [60]:
num_lst4 = [x for x in range(0,11) if x%2==0 else 'ODD']
num_lst4

SyntaxError: invalid syntax (<ipython-input-60-191ac4380b4d>, line 1)

In [61]:
# nested loops
nst_lst = []

for x in (1,2,3):
    for y in (1,10,100):
        nst_lst.append(x*y)
        
nst_lst

[1, 10, 100, 2, 20, 200, 3, 30, 300]